/node_modules/
**/.idea
.idea
**/.vscode
**/node_modules
**/dist
**/.nyc_output
**/coverage
/.scannerwork/
**/test-report.xml
**/Catalog/elastic/filesGoods/*
### macOS stuff
**/.DS_Store
**/.AppleDouble
**/.LSOverride
test.report.xml
**/storage/

local.run/envs/*.env
local.run/logs

services/api/templates
services/api/*.xml


/monolit/
/.run/
/services/api/elastic/
**/api/elastic/
**/api/elastic/**
**/api/elastic/stopwords

/.env

/debug.json
/.run/MONOLIT.run.xml
